a:hover{
	text-decoration: none;
}
.top_header {
	position: relative;
}
.hedcontainer{
	position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
.header-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.header-address {
    position: relative;
	align-items: center;
}
.promolink{
	position: absolute;
	right: 30px;
	top: 15px;
}
.promolink a{
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	padding-right: 100px;
	font-family: 'futurabook';
}
.header-address p{
	padding-top: 15px;
	margin-bottom: 0px !important;
	font-family: 'futuramedium';
	font-size: 12px;
	text-align: center;
	line-height: 40px;
	color: #fff;
}
.navbar{
	display: flex;
	flex-direction: row-reverse;
}
#collapsibleNavbar .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
#collapsibleNavbar ul li a{
	font-family: 'futurabook';
	font-size: 18px;
	line-height: 40px;
	color: #fff;
}
.site-footer{
	background-color: #000;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 50px 0px 50px 0px;
}
.site-footer p{
	margin-bottom: 0px !important;
	font-family: 'futurabook';
}

/* ----------------------media qurey----------------------------------- */
@media screen and (max-width: 993px) {
	.promolink{
		right: -40px;
	}
  }


/* -------------------------------------moblie view--------------------- */
@media screen and (max-width: 767px) {
	.promotext{
		display: none;
	}
	.hedcontainer{
		top: 10%;
	}
}


