a:hover{
	text-decoration: none;
}
.top_header {
	position: relative;
}
.hedcontainer{
	position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
.header-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.header-address {
    position: relative;
	align-items: center;
}
.promolink{
	position: absolute;
	right: 30px;
	top: 5px;
}
.promolink a{
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	padding-right: 100px;
	font-family: 'futurabook';
}
.header-address p{
	padding: 6px 0px;
	margin-bottom: 0px !important;
	font-family: 'futuramedium';
	font-size: 12px;
	text-align: center;
	line-height: 40px;
	color: #fff;
}
.navbar{
	display: flex;
	flex-direction: row-reverse;
}
#collapsibleNavbar .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
#collapsibleNavbar ul li a{
	font-family: 'futurabook';
	font-size: 18px;
	line-height: 40px;
	color: #fff;
}
.promotext a{
	color: #fff;
	font-size: 16px;
	padding-left: 5px;
}
.site-footer{
	background-color: #000;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 50px 0px 50px 0px;
}
.site-footer p{
	margin-bottom: 0px !important;
	font-family: 'futurabook';
}

/* ----------------------media qurey----------------------------------- */
@media screen and (max-width: 1200px) {
	.promolink{
		top: 0px
	}
  }
@media screen and (max-width: 993px) {
	.promolink{
		right: -40px;
		top: -1px;
	}
  }
  /* @media screen and (max-width: 767px) {
	.header-address p{
		text-align: left;
		padding-left: 20px;
		font-size: 10px;
	}
} */


/* -------------------------------------moblie view--------------------- */
@media screen and (max-width: 767px) {
	.promolink {
		right: 20px;
	}
	.promotext{
		display: none;
	}
	.hedcontainer{
		position: unset;
		transform: none;
		top: 0;
		left: 0;
	}
	.header-container{
		position: unset;
	}
	.promolink a{
		color: #000;
		padding-right: 0.75rem;
	}
	.navbar-brand{
		display: none !important;
	}
	.navbar{
		display: inline-block;
		flex-direction: row-reverse;
		padding: 15px 0px !important;
	}
	.navbar-collapse{
		position: fixed;
		top: 0;
		background-color: #fff;
		width: 100%;
		height: 100%;
		left: -100%;
		z-index: 999;
	}
	.navbar-collapse.collapse.show{
		left: 0%;
		transition:left 0.3s linear;
		text-align: center;
	}
	ul#menu-main-menu li a{
		color: #000;
		font-size: 20px;
		line-height: 60px;
		text-transform: uppercase;
		font-family: 'didotregular';
	}
	a.navbar-brand-mobile.menuopenlogo{
		-webkit-filter: invert(100%); /* Safari/Chrome */
    	filter: invert(100%);
		position: absolute;
    	bottom: 68px;
    	transform: translate(-50%, 10px);
	}
	.navbar-dark .menu-bar{
		background-image: url(../images/navbar.png);
	}
	.navbar-dark .close-menu{
		background-image: url(../images/close.png);
	}
	.footer_bottom .copy_text{
		display: none;
	}
}

