@font-face {
    font-family: 'futura-pt-light';
    src: url('assets/fonts/futura_light_bt.woff2') format('woff2'),
         url('assets/fonts/futura_light_bt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura-medium';
    src: url('assets/fonts/Futura-Medium.eot');
    src: url('assets/fonts/Futura-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Futura-Medium.woff2') format('woff2'),
        url('assets/fonts/Futura-Medium.woff') format('woff'),
        url('assets/fonts/Futura-Medium.ttf') format('truetype'),
        url('assets/fonts/Futura-Medium.svg#Futura-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'adobe-clean';
    src: url('assets/fonts/AdobeClean-Regular.eot');
    src: url('assets/fonts/AdobeClean-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/AdobeClean-Regular.woff2') format('woff2'),
        url('assets/fonts/AdobeClean-Regular.woff') format('woff'),
        url('assets/fonts/AdobeClean-Regular.ttf') format('truetype'),
        url('assets/fonts/AdobeClean-Regular.svg#AdobeClean-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a:hover{
	text-decoration: none;
}
.top_header {
	position: relative;
}
.hedcontainer{
	position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
.header-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.header-address {
    position: relative;
	align-items: center;
}
.promolink{
	position: absolute;
	right: 30px;
	top: 1px;
}
.promolink a{
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	padding-right: 100px;
	font-family: 'futurabook';
}
.promolink a:hover{
	color: #cfc9c9;
}
.header-address p{
	padding: 6px 0px;
	margin-bottom: 0px !important;
	font-size: 12px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-family: 'Futura-medium';
}
.navbar{
	display: flex;
	flex-direction: row-reverse;
}
#collapsibleNavbar .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
#collapsibleNavbar ul li a{
	font-family: 'futurabook';
	font-size: 18px;
	line-height: 40px;
	color: #fff;
}
#collapsibleNavbar ul li a:hover{
	color: #cfc9c9;
}
.promotext a{
	color: #fff;
	font-size: 16px;
	padding-left: 10px;
	position: relative;
    top: 2px;
}
.promotext a:hover{
	color: #cfc9c9;
}
.site-footer{
	background-color: #000;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding: 50px 0px 50px 0px;
}
.site-footer p{
	margin-bottom: 0px !important;
	font-family: 'futurabook';
}
.footer-logo-monile{
	display: none;
}
.page-id-123 h4{
	text-align: center;
    font-family: 'futurabook';
    font-size: 60px;
    line-height: 40px;
    color: #000;
    padding: 30px 0px !important;
}
.menus_main h1{
	font-size: 60px;
	font-family: 'didotregular';
    line-height: 40px;
    margin-top: 109px;
    margin-bottom: 62px;
}
.menus_main .slider-for{
	border: 1px solid #000;
}
.main_title{
	margin-bottom: 50px;
}
.slick-next:before {
    content: '' !important;
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
    right: 50px;
    width: 30px;
    height: 30px;
    background-size: 20px 30px;
    position: absolute;
    top: 0;
}
.slick-next, .slick-prev{
	z-index:99;
}
.slick-prev:before {
    content: '' !important;
    background-image: url(../images/pre.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 20px 30px;
    position: absolute;
    top: 0;
    left: 50px;
}
.menu_section{
	background-color: #000;
}
.slide-menu-left h4{
	font-size: 60px;
	text-align: left;
	font-family: 'didotregular';
    line-height: 40px;
	color: #fff;
	padding-top: 73px !important;
}
.slide-menu-left-content{
    color: #fff;
    font-size: 24px;
    text-align: left;
    font-family: 'futura-pt-light';
}
.slide-main_menu-left{
	padding-left: 241px;
	padding-right: 0px;
	/* padding: 0px 0px 0px 241px; */
}
.slide-main_menu-right{
	padding-left: 0px;
}
.slide-menu-left-content p{
	margin-bottom: 30px !important;
	line-height: 30px;
}
.slide-menu-left-content p:nth-child(2){
	margin-top: 46px;
}
.slide-menu-left-content p:first-child{
	display: none;
}
.slide-menu-right img{
	/* min-height: 1390px; */
	object-fit: cover;
}
.press-row{
	border-top: 1px solid #000;
	padding: 50px 70px;
}
.press-row:last-child{
	border-bottom: 1px solid #000;
	margin-bottom: 100px !important;
}
.press-text{
	color: #000;
	font-family: 'didotregular';
}
.privateroom_to_section p {
    font-family: 'futura-pt-light';
    font-size: 28px;
    line-height: 36px;
	color: #000;
}
.privateRoomsText p{
    color: #000;
    text-align: left;
    font-size: 28px !important;
    line-height: 40px;
	font-family: 'futura-pt-light';
	padding: 60px 0px 60px 44px;
}
.private-col:nth-child(even){
	margin-top: 50px;
}
.private-col:nth-child(even)::before{
	content: '' !important;
	border-left: 1px solid #000;
    background-repeat: no-repeat;
    height: 840px;
    position: absolute;
    top: 8.5%;
	left: -22px;
}
.inner_privateroom_section{
	margin-bottom: 30px;
}


/* ----------------------media qurey----------------------------------- */
@media screen and (min-width: 1600px) {
	.page-id-13 .container{
		width: 1440px;
	}
}
@media screen and (max-width: 1600px) {
	.privateRoomsBox h4 {
		font-size: 50px !important;
	}
	.privateRoomsText p {
		font-size: 22px !important;
		line-height: 35px;
	}
	.private-col:nth-child(even)::before{
		height: 660px;
		left: 0px;
		top: 7.5%;
	}
}
@media screen and (max-width: 1200px) {
	.promolink{
		top: 0px
	}
	.press-text h4{
		font-size: 1.2rem;
		line-height: 2.0;
	}
	.privateroom_to_section p {
		font-size: 26px;
	}
	.privateRoomsBox h4 {
		font-size: 40px !important;
	}
	.privateRoomsText p {
		padding: 60px 0px 0px 44px;
	}
  }
@media screen and (max-width: 993px) {
	.promolink{
		right: -40px;
		top: -1px;
	}
  }


/* -------------------------------------moblie view--------------------- */
@media screen and (max-width: 767px) {
	.promolink {
		right: 20px;
		top: 8px;
	}
	.promotext{
		display: none;
	}
	.hedcontainer{
		position: unset;
		transform: none;
		top: 0;
		left: 0;
	}
	.header-container{
		position: unset;
	}
	.promolink a{
		color: #4b4b4b;
		padding-right: 0.75rem;
		font-family: 'didotregular';
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;

	}
	.navbar-brand{
		display: none !important;
	}
	.navbar{
		display: inline-block;
		flex-direction: row-reverse;
		padding: 15px 0px !important;
	}
	.navbar-collapse{
		position: fixed;
		top: 0;
		background-color: #fff;
		width: 100%;
		height: 100%;
		left: -100%;
		z-index: 999;
	}
	.navbar-collapse.collapse.show{
		left: 0%;
		transition:left 0.3s linear;
		text-align: center;
	}
	.show .navbar-toggler{
		padding: 20px 0px 60px 0px !important;
	}
	ul#menu-main-menu li a{
		color: #000;
		font-size: 20px;
		line-height: 52px;
		text-transform: uppercase;
		font-family: 'didotregular';
	}
	a.navbar-brand-mobile.menuopenlogo{
		-webkit-filter: invert(100%); /* Safari/Chrome */
    	filter: invert(100%);
		position: absolute;
    	bottom: 68px;
    	transform: translate(-50%, 10px);
	}
	.navbar-dark .menu-bar{
		background-image: url(../images/navbar.png);
		width: 40px;
		height: 20px;
	}
	.navbar-dark .close-menu{
		background-image: url(../images/close.png);
	}
	.menuopenlogo img{
		max-width: 305px;
	}
	.footer_bottom .copy_text{
		display: none;
	}
	.site-footer {
		padding: 20px 0px 200px 0px !important;
	}
	.footer-logo-monile{
		display: flex;
	}
	.footer_logos a img {
		max-width: 261px;
	}
	.press_section{
		margin-top: 58px !important;
    	margin-bottom: 65px !important;
	}
	.press-row{
		text-align: center;
	}
	.press-img{
		padding-bottom: 30px;
	}
	.press-text h4 {
		line-height: normal;
		margin-bottom: 20px !important;
	}
	.private-col:nth-child(even)::before{
		border-left: none;
	}
}

